
Extract a list of all the entities that are used in the following T-SQL stored procedure definition.

# On output

You will return the output as a well formed JSON list of entities and types, how they are used and what they appear to be used for.
You will output an array of entities in the following JSON format:
```json
{
  "entity": "entity_name",
  "type": "entity_type",
  "used": "entity_usage",
  "commented": "entity_commented"
}
```
# Guardrails

- You will not make up any entities that do not clearly appear in the stored procedure definition.
- Also include any entities in commented out code, but identify these as commented out.
- If you are uncertain about how the entity is used, you can use the value "uncertain" for the "used" key.

# Stored procedure

{{text}}
